@{
    ViewData["Title"] = "Home Page";
}

@section header {
    <div id="header__homepage" class="text-center">
        <div class="logoHome"> 
            <img src="~/images/logos_jo/flamme.png" alt="logo flamme olympique" height="50%"/>
            <h1>PARIS 2024</h1>
            <img src="~/images/logos_jo/anneaux.png" alt="logo anneaux olympics" height ="30%"/>
        </div>
        <div class="welcome container container d-flex flex-row justify-content-start full-width align-items-center ms-5 ps-5">
            <img class="welcome_img" src="~/images/logos_jo/frigy_duo 2.svg" />
            <p class="p-1 text-white">Bienvenue !</p>
         </div>
    </div>
}

@section main {
    <div id="main" class="main__home text-center bg_light-blue">
        
        <h2 class="display-4 bg_black main_title">Ouvrons grand les jeux !!</h2>
        <div class="presentation bg_black">
            Les Jeux Olympiques de Paris 2024 se dérouleront du 26 juillet au 11 août dans la capitale française.
            Ce sera ainsi la troisième fois que Paris accueillera cet événement mondial après 1900 et 1924.
            <br />
            Nous vous promettons pour cette édition 2024 des jeux  placés sous le signe de l’innovation, de l’inclusion et de la durabilité.
            <br />
            Ce sont au total plus de 10 000 athlètes venant de 206 pays qui s'affronteront dans 43 disciplines différentes et vous feront vibrer dans des lieux emblématiques tels que le Grand Palais, le Champ-de-Mars ou encore le Château de Versailles.
            <br />
            Enfin, pour la première fois, la cérémonie d’ouverture se tiendra en plein cœur de la ville et plus précisemment sur la Seine... mais chut !                                                                       Nous n’en dévoilerons pas plus pour le moment !
            <br />
           Alors, prêts à nous rejoindre pour cette fantastique aventure ? Voici un aperçu de ce qui vous attend...
        </div>
        <div class="flex-centered shadow-lg bg_light-blue">
            <img class="img-fluid full-width" src="~/images/backgrounds/fond-tour-eiffel.svg"/>
            <a class="link position-absolute top-10 start-50 translate-middle" href="#sports_preview">
            <div class="btn_large bg_gold text-white rounded-pill container-fluid">
                Voir l'aperçu des disciplines
            </div>
            </a>
        </div>
        <section id="sports_preview" class="container container-fluid sports">
            <div class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
                 <div class="col flex-centered">
                     <a class="discipline js-discipline container container-fluid"
                     asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                         <p class="discipline-name js-discipline-name js-hidden">Athlétisme</p>
                         <img class="js-discipline-picture discipline_picture img-fluid" src="~/images/sports/athle.png" alt="athletisme" />
                     </a>
                 </div>
                 <div class="col flex-centered">
                     <a class="discipline js-discipline container container-fluid"
                       asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                        <p class="discipline-name jdiscipline-name s-discipline-name js-hidden">Aviron</p>
                         <img class="js-discipline-picture discipline_picture " src="~/images/sports/aviron.png" alt="aviron" />
                        </a>
                 </div>
                 <div class="col flex-centered">
                     <a class="discipline js-discipline container container-fluid"
                       asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                        <p class="discipline-name js-discipline-name js-hidden">Basketball</p>
                         <img class="js-discipline-picture discipline_picture " src="~/images/sports/basketball.png" alt="basketball" />
                     </a>
                 </div>
                 <div class="col flex-centered">
                     <a class="discipline js-discipline container container-fluid"
                       asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                        <p class="discipline-name js-discipline-name js-hidden">Canoe</p>
                         <img class="js-discipline-picture discipline_picture " src="~/images/sports/canoe.png" alt="canoe" />
                     </a>
                 </div>
                
                  <div class="col flex-centered">
                        <a class="discipline js-discipline container container-fluid"
                        asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                            <p class="discipline-name js-discipline-name js-hidden">Culturisme</p>
                            <img class="js-discipline-picture discipline_picture " src="~/images/sports/culturisme.png" alt="culturisme" />
                        </a>
                  </div>
                  <div class="col flex-centered">
                        <a class="discipline js-discipline container container-fluid"
                        asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                            <p class="discipline-name js-discipline-name js-hidden">Cyclisme</p>
                            <img class="js-discipline-picture discipline_picture " src="~/images/sports/cyclisme.png" alt="cyclisme" />
                        </a>                      
                  </div>
                  <div class="col flex-centered">
                        <a class="discipline js-discipline container container-fluid"
                        asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                            <p class="discipline-name js-discipline-name js-hidden">Escrime</p>
                            <img class="js-discipline-picture discipline_picture " src="~/images/sports/escrime.png" alt="escrime" />
                        </a>
                  </div>
                  <div class="col flex-centered">
                        <a class="discipline js-discipline container container-fluid"
                        asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                            <p class="discipline-name js-discipline-name js-hidden">Gymnastique</p>
                            <img class="js-discipline-picture discipline_picture " src="~/images/sports/gym.png" alt="gymnastique" />
                        </a>
                  </div>
                
                  <div class="col flex-centered">
                        <a class="discipline js-discipline container container-fluid"
                        asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                            <p class="discipline-name js-discipline-name js-hidden">Hockey</p>
                            <img class="js-discipline-picture discipline_picture " src="~/images/sports/hockey.png" alt="hockey" />
                        </a>
                  </div>
                  <div class="col flex-centered">
                        <a class="discipline js-discipline container container-fluid"
                        asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                            <p class="discipline-name js-discipline-name js-hidden">Judo</p>
                            <img class="js-discipline-picture discipline_picture " src="~/images/sports/judo.png" alt="" />
                        </a>
                  </div>
                  <div class="col flex-centered">
                        <a class="discipline js-discipline container container-fluid"
                        asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                            <p class="discipline-name js-discipline-name js-hidden">Natation</p>
                            <img class="js-discipline-picture discipline_picture " src="~/images/sports/natation.png" alt="natation" />
                        </a>
                  </div>
                  <div class="col flex-centered">
                        <a class="discipline js-discipline container container-fluid flex-centered"
                        asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                            <p class="discipline-name discipline-name js-discipline-name js-hidden">Tennis de table</p>
                            <img class="js-discipline-picture discipline_picture " src="~/images/sports/tennistable.png" alt="tennis de table" />
                        </a>
                  </div>
            </div>
            <a class="relative link flex-centered justify-content-center" asp-area="" asp-controller="Home" asp-action="ConstructionPage">
                  <div class=" sports_button btn_large bg_gold text-white rounded-pill container-fluid">
                      Voir la liste complète des disciplines
                  </div>
            </a> 
        </section>
        <section class="last_section bg_light-blue">
        <div class="img-frigy bg_light-blue flex-centered">
            <img class="end-img img-fluid" src="~/images/logos_jo/frigys.png" alt="Frigys" />
        </div>
        </section>
    </div>
}
