@{
    ViewData["Title"] = "Home Page";
}

@section header {
    <div id="header" class="header__home text-center">
        <div class="logoParis2024"> 
            <img src="~/images/logos_jo/flamme.png" alt="logo flamme olympique" height="50%"/>
            <h1>PARIS 2024</h1>
            <img src="~/images/logos_jo/anneaux.png" alt="logo anneaux olympics" height ="30%"/>
        </div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    Home
                </li>
            </ol>
        </nav>
    </div>
}

@section main {
    <div id="main" class="text-center">
        <h2 class="display-4">Ouvrons grand les jeux !!</h2>
        <p>
            Les Jeux Olympiques de Paris 2024 se dérouleront du 26 juillet au 11 août dans la capitale française.
            Ce sera ainsi la troisième fois que Paris accueillera cet événement mondial après 1900 et 1924.
            <br />
            Nous vous promettons pour cette édition 2024 des jeux  placés sous le signe de l’innovation, de l’inclusion et de la durabilité.
            <br />
            Ce sont au total plus de 10 000 athlètes venant de 206 pays qui s'affronteront dans 43 disciplines différentes et vous feront vibrer dans des lieux emblématiques tels que le Grand Palais, le Champ-de-Mars ou encore le Château de Versailles.
            <br />
            Enfin, pour la première fois, la cérémonie d’ouverture se tiendra en plein cœur de la ville et plus précisemment sur la Seine... mais chut !                                                                       Nous n’en dévoilerons pas plus pour le moment !
            <br />
            Vous êtes prêts à nous rejoindre pour cette fantastique aventure ?                                                         Alors voici un aperçu de ce qui vous attend...
        </p>
    </div>
}
