/*page d'accueil du site*/
.header__home {
    height: 75vh;
    background-image: url("../images/backgrounds/tour_eiffel_header.jpg");
    background-size: cover;
}

.logoParis2024 {
    height: 90%;
}

.welcome {
    height: 7vh;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
}

.welcome_img {
    align-self: auto;
    height: 130%;
}

.main__home {
    margin: 0px 0px 0px 0px;
    width: 100%;
    position: relative;
}

.main_title {
    padding-top: 1rem;
    font-size: 1.8rem
}

.presentation {
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    padding: 3vh 8vw;
}

.homepage_anchor {
   /*supprimer la classe dans index.cshtml*/
}

#sports_preview {
    padding-top: 2rem;
}

.discipline {
    height: 12rem;
    width: 13rem;
    margin: 0 0 2rem 0;
    border-radius: 20%;
    border: 5px solid #ccbb7b;
    box-shadow: 5px 2px 5px #ccbb7b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.discipline_picture {
    width: 12.5rem;
    
}

.js-rotate180 {
    transform: rotateY(180deg)
}

.js-discipline-rotation {
    animation: animation-rotate;
    animation-duration: 1s;
}

/*@media (max-width: 405px) {
    .sports_button {
        position: sticky;
        top: 20%;
        background-color: yellowgreen;
    }
}*/

.end-img {
    margin: 3rem;
    max-width: 85vh;
}

@keyframes animation-rotate {
    0% {
        transform: rotateY(180deg);
        background-color: white;
    }

    25% {
        transform: rotateY(135deg);
        background-color: white;
    }

    50% {
        transform: rotateY(91deg);
        background-color: #3b7197;
    }

    75% {
        transform: rotateY(45deg);
        background-color: #3b7197;
        text-align: center;
    }

    100% {
        transform: rotateY(0);
        background-color: #3b7197;
    }  
}
    