/*Couleurs du site*/
.bg_gold {
    background-color: #ccbb7b;
}

.bg_black {
    background-color: #050601;
    color: white;
}

.bg_light-blue {
    background-color: #d6dce3;
}

.bg_blue {
    background-color: #3b7197;
}

/*Mise en page de base pour tout le site*/
html {
    font-size: 14px;
    position: relative;
    /*min-height: 100%;*/
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
    box-sizing: unset;
    font-family: "Inclusive Sans", sans-serif;
    font-optical-sizing: auto;
    max-width: 100vw;
    overflow-x: hidden;
}

h1 {
    font-weight: 700;
    font-style: normal;
}

#header {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    min-width: 100%;
   
}

header {
    margin-bottom: 0;
    
}

h2 {
    font-weight: 700;
    font-style: normal;
}

#main {
    max-width: 100%;
    margin-bottom: 0px;
}

.footer {
    padding: 2vh 2vw 2vh 2vw;
    height: fit-content;
    font-size: 1rem;
    text-wrap:wrap;
}

.full-width {
    max-width: 100%;
    min-width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.relative {
    position: relative;
}

.flex-centered {
    display: flex;
    position: relative;
    justify-content: center;
} /*Voir pour remplacer par classes boostrap*/

.js-hidden {
    display: none;
}

.link {
    text-decoration: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn_large {
    width: 30vw;
    min-width: 170px;
    height: 5vh;
    min-height: 35px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 5rem 0 3rem 0;
}

    .btn_large:hover {
        background-color: #3b7197;
    }

.js-pointer {
    cursor: pointer;
}

/*page "site en construction"*/
.header__construction {
    display: none;
}

.main__img_construction {
    height: 100%;
}

.main__construction {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*Header du site, hors page d'accueil*/
.header__offers, .header__connection {
    height: 20vh;
}





