html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
    box-sizing: unset;
    width: 100vw
}

header {
    background-color: blue;
}

#header {
    width: 100vw;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; 
}

.header__construction 
{
    display: none;
}

.header__home {
    height: 60vh;
    background-image: url("../images/pics/tour_eiffel_header.jpg");
    background-size: cover;
}

.header__offers, .header__connection {
    height: 20vh;
}

.logoParis2024 {
    height: 90%;
}

.breadcrumb {
    padding-left: 5rem;
    color: white;
    display: flex;
    align-items: center;
}

.main__construction
{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content:center;
}

.main__img_construction {
    height: 100%;
}

.footer {
    height: 10vh;
}


