html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.bg_gold {
    background-color: #ccbb7b;
}

.bg_black {
    background-color: #050601;
    color: white;
}

.bg_light-blue {
    background-color: #d6dce3;
}

.full-width {
    max-width: 100%;
    min-width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

.relative {
    position: relative;
}

body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
    box-sizing: unset;
    width: 100vw;
}

header {
    margin-bottom: 0;
}

#header {
    width: 100vw;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.header__construction 
{
    display: none;
}

.header__home {
    height: 75vh;
    background-image: url("../images/backgrounds/tour_eiffel_header.jpg");
    background-size: cover;
}

.header__offers, .header__connection {
    height: 20vh;
}

.logoParis2024 {
    height: 90%;
}

nav {
    padding-bottom: 3rem;
    margin-bottom: 0;
}

.navbar {
    height: 10vh;
    margin-bottom: 0px;
}

.breadcrumb {
    padding-left: 5rem;
    color: white;
    display: flex;
    align-items: center;
    height: 10%;
}

h2 {
    font-family: "Inclusive Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#main {
    width: 100vw;
    margin-bottom: 0px;
}

.main__home {
    margin: 0px 0px 0px 0px;
    width: 100%;
    position: relative;

}

.main_title {
    padding-top: 1rem;
}

.presentation {
    font-family: "Inclusive Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    padding: 1rem 8rem ;
}

.btn_section-sport {
   
}

.sports {
    width: 95vw;
    padding: 1rem 25rem;
}

.discipline {
    width: 105%;
    margin: 0 0 2rem 0 ;
}

.main__construction {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__img_construction {
    height: 100%;
}





.footer {
    height: 10vh;

}


