@model BachelorParis2024.Domain.Models.EventOfferModel

@{
    ViewData["Title"] = "Panier";
}



@section header {
    <div id="header" class="header text-center">
        <div class="logoSite container container-fluid d-block d-flex align-items-center justify-content-center">
            <img class="logo-flamme-header img-fluid" src="~/images/logos_jo/flamme.png" alt="logo flamme olympique" height="50%" />
            <h1 class="d-block">PARIS 2024</h1>
            <img class="logo-anneaux-header img-fluid" src="~/images/logos_jo/anneaux.png" alt="logo anneaux olympics" height="30%" />
        </div>
        <h2 class="d-block d-flex align-items-start justify-content-center">Panier</h2>
    </div>
}

@section main {
    <div id="main" class="main main_events text-center bg_light-blue d-flex align-items-center justify-content-center">
        <section class="cart table-background">
            <div class="col container container-fluid" id="js-cartContainer">
                
            </div>
        </section>
    </div>
}

@section scripts {
    <script src="~/js/locaStorage.js" asp-append-version="true"></script>
    <script src="~/js/cart.js" asp-append-version="true"></script>
}
