@model BachelorParis2024.Domain.Models.EventOfferModel

@{
    ViewData["Title"] = "Checkout";
}



@section header {
    <div id="header" class="header text-center">
        <div class="logoSite container container-fluid d-block d-flex align-items-center justify-content-center">
            <img class="logo-flamme-header img-fluid" src="~/images/logos_jo/flamme.png" alt="logo flamme olympique" height="50%" />
            <h1 class="d-block">PARIS 2024</h1>
            <img class="logo-anneaux-header img-fluid" src="~/images/logos_jo/anneaux.png" alt="logo anneaux olympics" height="30%" />
        </div>
        <h2 class="d-block d-flex align-items-start justify-content-center">Panier</h2>
    </div>
}

@section main {
    <div id="main" class="main main_events text-center bg_light-blue d-flex align-items-center justify-content-center">
        <div class="cart table-background">
            <div class="col container container-fluid" id="js-cartContainer">
            </div>
            <section class="js-cartManage">
                <div class="back js-pointer js-backToList">
                    <img class="d-inline" src="~/images/icones/back.png" alt="retour à la liste" width="20rem" />
                    <p class="d-inline text-black">Retour à la liste des événements</p>
                </div>
                <div class="btn btn_outline_blue js-validateCart" title="valider le panier">Passer au paiement</div>
            </section>
        </div>
    </div>
}
