@{
    ViewData["Title"] = "Billetterie en ligne";
}

@section header {
<div id="header" class="header text-center">
        <div class="logoSite container container-fluid d-block d-flex align-items-center justify-content-center">
            <img class="logo-flamme-header img-fluid" src="~/images/logos_jo/flamme.png" alt="logo flamme olympique" height="50%"/>
            <h1 class="d-block">PARIS 2024</h1>
            <img class="logo-anneaux-header img-fluid" src="~/images/logos_jo/anneaux.png" alt="logo anneaux olympics" height ="30%"/>     
        </div>
        <h2 class="d-block d-flex align-items-start justify-content-center">Billetterie</h2>

</div>
}

@section main {
    <div id="main" class="main main__offers main__offerDetail text-center flex-centered">
        <section class="offerDetail bg_blue container container-fluid container container-fluid">
            <div class="offerDescription">

                <div class="d-flex flex-row d-flex justify-content-between">
                    <h3 class="offerTitle text-white flex-grow-1">OFFRE SOLO</h3>
                    <div class="btn btn_outline_black js-closeOfferPage" title="fermer la page">X</div>
                </div>
                <h4 class="numberOfPersons text-white">Billet donnant accès à 1 personne</h4>
                <h4 class="text-white">Prix: 95€</h4>
                <h5 class="conditionsTitle text-white">Conditions et modlités d'accès à l'événement</h5>
                <p class="conditions text-white">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                    fugiat nulla pariatur.
                </p>
            </div>
                <div class="btn btn_outline_white js-bookOffer" title="Réserver">
                   Choisir cette offre
                </div>
        </section>
       
        
    </div>
}
