@model BachelorParis2024.Domain.Models.OfferModel

@{
    ViewData["Title"] = "Billetterie en ligne";
}

@section header {
<div id="header" class="header text-center">
        <div class="logoSite container container-fluid d-block d-flex align-items-center justify-content-center">
            <img class="logo-flamme-header img-fluid" src="~/images/logos_jo/flamme.png" alt="logo flamme olympique" height="50%"/>
            <h1 class="d-block">PARIS 2024</h1>
            <img class="logo-anneaux-header img-fluid" src="~/images/logos_jo/anneaux.png" alt="logo anneaux olympics" height ="30%"/>     
        </div>
        <h2 class="d-block d-flex align-items-start justify-content-center">Billetterie</h2>

</div>
}

@section main {
    <div id="main" class="main main__offers main__offerDetail text-center flex-centered">
        <section class="offerDetail bg_blue container container-fluid container container-fluid">
            <div class="offerDescription">

                <div class="d-flex flex-row d-flex justify-content-between">
                    <h2 class="offerTitle text-white flex-grow-1">@Html.DisplayFor(model => model.Name)</h2>
                    <a asp-action="Index">
                        <div class="btn btn_outline_black js-closeOfferPage" title="fermer la page">
                            X
                        </div>
                    </a>
                </div>
                <h4 class="numberOfPersons text-white">@Html.DisplayFor(model => model.Description)</h4>
                <h4 class="text-white">Prix: @Html.DisplayFor(model => model.Price)</h4>
                <h5 class="conditionsTitle text-white">Conditions et modlités d'accès à l'événement</h5>
                <p class="conditions text-white">
                    @Html.DisplayFor(model => model.Conditions)
                </p>
            </div>
            <h4 class="text-white">
                Vous n'avez pas encore choisi à quel événement vous désirez assister ?
            </h4>
                <a class="btn btn_outline_white mt-3" title="Réserver" asp-area="" asp-controller="EVents" asp-action="Index">
                    La liste complète se trouve juste ici !
                </a>
        </section>
       
        
    </div>
}
