
@{
    ViewData["Title"] = "ConstructionPage";
}

@section header {
    <div id="header" class="header__construction text-center">   
    </div>
}

@section main {
    <div id="main" class="main__construction">
        <img class="main__img_construction" src="~/images/site_en_construction.png" alt="Cette page n'est pas encore disponible"/>
    </div>
}
 /* il faut ajouter le header dans la page en construction